*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

html{
    font-size: 62.5%;
}

body{
  font-size: 2rem;
  font-family: sans-serif;
  background: #8FBDD3;
  padding: 4rem;
}



.cards{
    height: 85vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2rem;
}



.card{
    background-color: rgb(253, 243, 243);
    list-style: none;
    border-radius: 0.5rem;
    box-shadow:-0.5rem 1rem 3rem 0 rgb(0 0 0 / 20%);
}




img{
    width: 40%;
    height: 40%;
    object-fit: cover;
}

.button{
    font-size: 90%;
    border: none;
    background-color: gray;
    padding: 0.5rem;
    border-radius: 0.3rem;
    
}

.button:hover{
    cursor: pointer;
    background: rgb(194, 191, 191);
}

.card--1{
    grid-row: 1/7;
    grid-column:1/5;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1.5rem;
}

.card--1> input{
    width: 70%;
    height: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    padding-left: 1rem;
}

.card--1 > p{
    visibility: hidden;
    font-size: 0.01rem;
}

.card--2{
    grid-column: 5/13;
    grid-row: 1/9  ;
    padding: 2rem;
}

b{
    font-weight: 400;
}

.card--3{
    grid-row: 7/13;
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

@media screen and (max-width: 87.5rem) {
    .card--2{
        grid-row: 1/13;
    }
    .card--3{
        grid-column: 1/5;

    }
    

}

@media screen and (max-width: 62.5rem) {
    body{
        
        padding: 0;
    }
    .card{
        border-radius:0 ;
    }
    .card--1, .card--2{
        display: none;
    }
    .card--1{
        padding: 0; 
    }
    .card--3{
        grid-column: 1/13;
        grid-row: 1/13;
        height: 100vh;
        font-size: 200%;
    }
}